.footer {
  padding: 0 2rem;
  text-align: center;
}

.footer__text {
  color: $gray;
  margin: 0;
}

.footer__text.dark {
  color: #000000;
  font-size: 1.25rem ;
}

.footer a {
  color: $gray;
  text-decoration: underline;

  &:hover,
  &:hover span.username {
    text-decoration: none;
    color: $black;
  }
}

.site-footer {
  background-color: $gray-light;
  border: 0;
}